theme = "pehtheme"
baseURL = "https://ai-tools-vergleich.de/"
defaultContentLanguage = "de"
disableLanguages = []

enableRobotsTXT = true
summaryLength = 10
hasCJKLanguage = false

buildDrafts = false
buildFuture = false

enableEmoji = false

googleAnalytics = "G-PEDMYR1V0K"

[pagination]
  pagerSize = 100

[imaging]
  anchor = 'Center'

[taxonomies]
  tag = "tags"

[sitemap]
  changefreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]

[related]
  threshold = 0
  toLower = false

    [[related.indices]]
        name = "tags"
        weight = 100

    [[related.indices]]
        name = "date"
        weight = 10
