{{ define "main" }}
  <section class="mb-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-10">
    {{ $paginator := .Paginate ( where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range $paginator.Pages }}
      {{- partial "content/card" . -}}
    {{ end }}
    </div>
    <div class="flex items-center mt-10">
      {{- if $paginator.HasPrev -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200 mr-auto" href="{{ $paginator.Prev.URL }}">← Zurück</a>
      {{- end -}}
      {{- if $paginator.HasNext -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200" href="{{ $paginator.Next.URL }}">Weiter →</a>
      {{- end -}}
    </div>
  </section>
{{ end }}
